@import '~antd/dist/antd.css';

.App {
  height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  color: #D1F7FB;
  font-weight: 500;
}

.section-title {
  font-size: 12px;
  color: #8ED5FF;
  font-weight: 500;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.site-layout .site-layout-background {
  background: #fff;
}
