@import '~antd/dist/antd.css';

.App {
  height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  color: #D1F7FB;
  font-weight: 500;
}

.section-title {
  font-size: 12px;
  color: #8ED5FF;
  font-weight: 500;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.avatar-container {
  position: absolute;
  right: 20px;
  top: 0px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.custom-menu {
  background-color: #3394fc !important;
}

.custom-menu-item {
  color: #D1F7FB !important;
  font-weight: 500;
  font-size: 15px;
}

.custom-divider {
  background-color: #55B4FF !important;
  width: 210px;
  min-width: 210px;
  margin: 20px !important;
}

.ant-menu-item-group-title {
  padding-left: 24px !important;
}

.full-name {
  font-size: 26px;
  font-weight: bold;
  color: black;
}

.select-section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: relative;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.location-view {
  margin-left: 20px;
}

.normal-text {
  font-size: 15px;
  color: gray;
  font-weight: 500;
}

.location-text {
  font-size: 15px;
  color: #6096D5;
  margin-left: 5px;
  font-weight: 500;
}

.dropdown-view {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
